IS_PROD=true

# For jwt
JWT_SECRET=123

# For database connection
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.nvobqgkvwxcjlfmfrmkc:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.nvobqgkvwxcjlfmfrmkc:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

# For mailer
MAIL_HOST=smtp.example.com
MAIL_USER=your-email@example.com
MAIL_PASS=your-app-password
MAIL_FROM="Team <noreply@example.com>"

# For Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
