IS_PROD=true

# For jwt
JWT_SECRET=123

# For database connection
DB_HOST=aom
DB_PORT=5432
DB_USERNAME=123
DB_PASSWORD=1
DB_DATABASE=postgres

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.nvobqgkvwxcjlfmfrmkc:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.nvobqgkvwxcjlfmfrmkc:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

# For mailer
MAIL_HOST=.com
MAIL_USER=@gmail.com
MAIL_PASS= slhm 
MAIL_FROM= Team <hoangnguyendepgiai@gmail.com>"

# For Redis
REDIS_HOST=.ec2.cloud.redislabs.com
REDIS_PORT=
REDIS_PASSWORD=k
