<p>Chào {{name}},</p>
<p>Vui lòng nhấn vào link bên dưới để kích hoạt tài khoản:</p>
<p>
    <a href="{{url}}">Kích hoạt ngay</a>
</p>
<p>Đường link này chỉ tồn tại trong 15 phút, vui lòng sử dụng nó ngay khi nhận được và không chia sẻ với bất kì ai.</p>
<p>Nếu không phải bạn yêu cầu, hãy bỏ qua email này.</p>